:root{
    --black: #1C1C1C;
    --gray: #444;
    --white: #ddd;
    --green: #A5FD29;
    --pruple: #AE3DFF;
}

body{
    font-family: 'Roboto Mono', monospace;
}

.nav{
    display: flex;
    justify-content: space-between;
    padding: 10px 120px ;
    box-sizing: border-box;
    align-items: center;
    background-color: var(--black);
}

.nav>div>img{
    width: 100px;
}

.nav>div>ul>li{
    list-style-type: none;
    display: inline;
    margin-left: 20px;
}
.nav>div>ul>li>a{
    color: var(--white);
    font-size: 20px;
    text-decoration: none;
}

.grid__title{
    font-weight: bolder;
}

.grid{
    width: 1000px;
    margin: 80px auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 92.25px;
    grid-gap: 20px;
}

